<p class="container mt-3 p-3"> For more information check the browser console.</p>
<!-- {{data}} -->
<div class="container">
    <div class="container-fluid">
        <div class="card m-3 p-3" *ngFor="let commit of commitList; let _i = index; trackBy: trackFn">
            <div>Index: {{ _i }} = Commit ID: {{ commit.sha }}</div>

            <div>- Author: {{ commit.author.id }} - {{ commit.author.login }}</div>

            <div>-- Message: {{ commit.commit.message }}</div>


        </div>
    </div>
</div>
<!-- {{datas}} -->